@CHARSET "UTF-8";

#back{

	color: white;
}
.header{
	position: relative;
	padding-top: 100%;
	overflow: hidden; 
 	/*  border: solid 2px; */
 	padding:0px;
 	background-color: #FBD3D3;
   
	 
}
.header .centered  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
img{
	width: 50%; 
	height: 30%;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px;
	margin-top: 8%;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 40px;
	background-color: white;
	height: 50%;
	margin-left: 15%;
	border: 1px solid black;
}
@media screen and (max-width: 500px) {
	.sidenav {
		height: auto;
		margin: 0%;
		margin-bottom: 5%;
	}
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
		margin-top: 8%;
	}
}

.write_box {
	width: 100%;
	border: 1px solid #a4a6aa;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: #fff;
}

.write_box .text-box {
	color: #837e7e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #fff;
}

.text-button{
	text-align: right;
}
#content {
	color: #837e7e;
    border: 0;
    height: 10%;
    WIDTH: 100%;
    border: 1px solid #837e7e;
}

.commentsList{
	width: 100%;
}

#cardDate{
	padding-left: 50%;
}

@media screen and (max-width: 500px) {

  img {
  	width: 50%; 
    height: 20%;
    margin: 0.5rem 0;
    width: 100px;
  }

  /* td:first-child {
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
  } */

 /*  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  } */
  	#cardDate{
	padding-left: 0%;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		padding: 0px;
		vertical-align: middle;
	}
		
}